* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    /* width: 100vh; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9f1f9;
}
.header-warp {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-warp p {
    font-size: 2em;
}
.container-box {
    height: 1550px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* giao dien box 1 */
.box-1 {
    width: 80%;
    height: 150px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-top: 30px;
}

.box-1 .title {
    display: flex;
}
.box-1 .title p {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 60px;
}
.box-1 .line {
    width: 350px;
    height: 2px;
    background-color: orangered;
}
.box-1 .infor {
    margin-top: 20px;
    display: flex;
    position: relative;
}
.box-1 .infor p {
    font-weight: bold;
    line-height: 60px;
    font-size: 20px;
}
.box-1 .infor button {
    /* margin-left: 500px; */
    background-color: #7fbfff;
    border: none;
    width: 130px;
    height: 50px;
    position: absolute;
    right: 150px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.box-1 .infor button:hover {
    background-color: #6598cc;
}

/* giao dien box 2 */
.box-2 {
    width: 80%;
    height: 476px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-top: 30px;
    position: relative;
}

.box-2 .product-box {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
}

table {
    width: 95%;
    margin: 20px 0;
    border-collapse: collapse;
    /* margin-bottom: 10px; */
}

th,
td {
    /* border: 1px solid #ddd; */
    border: none;

    border-bottom: 1px solid #64829d;
    padding: 20px;
    text-align: center;
    color: #64829d;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

td {
    color: #2f2736;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
th {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

td {
    position: relative;
    z-index: 1;
}

th:nth-child(1),
td:nth-child(1) {
    width: 20%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 20%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 20%;
}

tbody tr {
    height: 100px;
    /* padding: 150px; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    border-bottom: 1px solid #64829d;
}
.box-2 .total {
    position: absolute;
    right: 120px;
    bottom: 110px;
}
.box-2 .total p {
    height: 96px;
    color: #2f2736;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.box-2 .total span {
    font-size: 18px;
    color: #64829d;
}
.box-2 .discount {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 25px;
}
.box-2 .discount .line {
    margin-bottom: 25px;
    height: 1px;
    margin-left: 38px;
    width: 1441px;
    background: #64829d;
}
.box-2 .discount p {
    color: #5c94ff;
    font-size: 16px;
    line-height: 33px;
    font-weight: bold;
    margin-right: 30px;
}
.box-2 .discount input {
    width: 389px;
    height: 33px;
    border-radius: 3px;
    border: 2px solid #c5c5c5;
    background: #fff;
    outline: none;
}

.box-2 .discount p,
input {
    display: inline;
    vertical-align: middle;
}

/* giao dien box 3 */
.box-3 {
    width: 80%;
    height: 150px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-top: 30px;
    position: relative;
}
.box-3 .title {
    display: flex;
}
.box-3 .title p {
    color: #2f2736;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}
.box-3 .title .btn {
    margin-left: 50px;
}
.box-3 .title .btn button {
    margin-left: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    width: 131px;
    height: 37px;
    border-radius: 10px;
    border: 2px solid rgba(52, 52, 52, 0.8);
    background: #80bfff;
}
.box-3 .title-warp .line {
    margin-top: 30px;
    height: 1px;
    /* margin-left: 8px; */
    width: 1517px;
    background: #64829d;
}

.box-3 .discount {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 25px;
}
.box-3 .discount .line {
    margin-bottom: 25px;
    height: 1px;
    margin-left: 38px;
    width: 1441px;
    background: #64829d;
}
.box-3 .discount p {
    color: #5c94ff;
    font-size: 16px;
    line-height: 33px;
    font-weight: bold;
    margin-right: 30px;
}
.box-3 .discount input {
    width: 389px;
    height: 33px;
    border-radius: 3px;
    border: 2px solid #c5c5c5;
    background: #fff;
    outline: none;
}

.box-3 .discount p,
input {
    display: inline;
    vertical-align: middle;
}
/* giao dien box 4 */
.box-4 {
    width: 80%;
    height: 400px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 30px;
    margin-top: 30px;
    position: relative;
}
.box-4 .title {
    display: flex;
}
.box-4 .title p {
    color: #2f2736;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
}
.box-4 .title .btn {
    margin-left: 50px;
}
.box-4 .title .btn button {
    margin-left: 50px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    width: 288px;
    height: 37px;
    border-radius: 10px;
    border: 2px solid rgba(52, 52, 52, 0.8);
    background: #80bfff;
    /* cursor: pointer;
    transition: background-color 0.2s ease; */
}
.box-4 .title-warp .line {
    margin-top: 30px;
    height: 1px;
    /* margin-left: 8px; */
    width: 1517px;
    background: #64829d;
}

.box-3 button,
.box-4 button {
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.box-3 .title .btn button:hover,
.box-4 .title .btn button:hover {
    background-color: #6698cc;
}

.box-4 .total-bill {
    width: 500px;
    height: 330px;
    position: absolute;
    right: 20px;
    bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box-4 .total-bill .tt1 p {
    color: #2f2736;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px 0;
}

.box-4 .total-bill .line {
    margin: 0 0 20px 0;
    height: 1px;
    width: 90%;
    background: #64829d;
}
.box-4 .total-bill .btn #back,
#order {
    /* margin-left: 500px; */
    background-color: #d7e2ff;
    border: none;
    width: 130px;
    height: 50px;
    margin: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.box-4 .total-bill .btn #order {
    background-color: #5a9cff;
}
.box-4 .total-bill .btn #back:hover {
    background-color: #acb4cc;
}
.box-4 .total-bill .btn #order:hover {
    background-color: #487ccc;
}
.box-4 .total-bill .tt1 {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.box-4 .total-bill .tt1 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0 0px 100px;
    width: 60%;
    background: #fff;
}
.box-4 .total-bill .tt1 .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box-4 .tt1 .right p {
    font-weight: bold;
}
.box-4 .tt2 {
    width: 100%;
}
.box-4 .tt2 p {
    color: #2f2736;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.box-4 .tt2 .l-r {
    display: flex;
    flex-direction: row;
}
.box-4 .tt2 .left {
    width: 45%;
    text-align: center;
    padding: 0 0 0 20px;
}
.box-4 .tt2 .right {
    width: 55%;
    text-align: center;
    padding: 0 0 0 20px;
}
.box-4 .tt2 .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
